table {
    width: 100%;
  }


.button-div{
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-div{
  width: 80%;
  margin: auto;
}