<mat-tab-group animationDuration="0ms">
  <mat-tab label="Manage Products">
    <div class="home-div">
      <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell *matCellDef="let element"> {{element.created}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef> productId </th>
        <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="vendorId">
        <th mat-header-cell *matHeaderCellDef> vendorId </th>
        <td mat-cell *matCellDef="let element"> {{element.vendorId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef> size </th>
          <td mat-cell *matCellDef="let element"> {{element.size}} </td>
        </ng-container>
        
        <ng-container matColumnDef="unitPrice">
          <th mat-header-cell *matHeaderCellDef> unitPrice </th>
          <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
        </ng-container>
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> productName </th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>
        <ng-container matColumnDef="colour">
          <th mat-header-cell *matHeaderCellDef> colour </th>
          <td mat-cell *matCellDef="let element"> {{element.colour}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef> brand </th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="stockLevel">
          <th mat-header-cell *matHeaderCellDef> stockLevel </th>
          <td mat-cell *matCellDef="let element"> {{element.stockLevel}} </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="row-hover" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowSelected(row)"></tr>
    
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <div class="button-div">
      <button mat-raised-button (click)="openAddProductDialog()">Add Product</button>
    </div>
  </div>

  </mat-tab>
  <mat-tab label="Manage Resources">


    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Queues
          </mat-panel-title>
          <mat-panel-description>
            View open/closed queues
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="home-div">
          <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyQueueFilter($event)" placeholder="Ex. ium" #queueInput>
          </mat-form-field>
        
        <table mat-table [dataSource]="queueDataSource" class="mat-elevation-z8">
        
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- tasks Column -->
          <ng-container matColumnDef="tasks">
            <th mat-header-cell *matHeaderCellDef> Tasks </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-form-field >
              <mat-label>Tasks</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let task of element.tasks" [value]="task">{{task.id}}</mat-option>
              </mat-select>
            </mat-form-field> </td>
          </ng-container>
        
          <!-- user Column -->
          <ng-container matColumnDef="assigned_users">
            <th mat-header-cell *matHeaderCellDef> Assigned User </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-form-field>
              <mat-label>Users</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let task of element.users" [value]="task">{{task.username}}</mat-option>
              </mat-select>
            </mat-form-field> </td>
          </ng-container>
        

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
          </ng-container>
          <!-- state Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">

              <div class="button-div">
                <button mat-stroked-button class="assign-user-button" (click)="assignTask(element)">Assign Task</button>
                <button mat-stroked-button (click)="assignUser(element)">Assign User</button>
              </div>
            </td>
          </ng-container>

         
      
          <tr mat-header-row *matHeaderRowDef="queueDisplayedColumens"></tr>
          <tr mat-row *matRowDef="let row; columns: queueDisplayedColumens;"></tr>
        
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{queueInput.value}}"</td>
          </tr>
        </table>
        
      </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tasks
          </mat-panel-title>
          <mat-panel-description>
            View warehouse tasks
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="home-div">
          <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyTaskFilter($event)" placeholder="Ex. ium" #taskInput>
          </mat-form-field>
        
        <table mat-table [dataSource]="taskDataSource" class="mat-elevation-z8">
        
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- tasks Column -->
          <ng-container matColumnDef="warehouse_number">
            <th mat-header-cell *matHeaderCellDef> Warehouse Number </th>
            <td mat-cell *matCellDef="let element"> {{element.warehouse_number}} </td>
          </ng-container>
        
          <!-- user Column -->
          <ng-container matColumnDef="created_on">
            <th mat-header-cell *matHeaderCellDef> Created On </th>
            <td mat-cell *matCellDef="let element"> {{element.created_on}} </td>
          </ng-container>
        
          <!-- state Column -->
          <ng-container matColumnDef="created_by">
            <th mat-header-cell *matHeaderCellDef> Created By </th>
            <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="assigned_to">
            <th mat-header-cell *matHeaderCellDef> Assigned To </th>
            <td mat-cell *matCellDef="let element"> {{element.assigned_to}} </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <ng-container matColumnDef="products">
            <th mat-header-cell *matHeaderCellDef> Assigned Products </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-form-field>
              <mat-label>Products</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let product of element.products" [value]="product">{{product}}</mat-option>
              </mat-select>
            </mat-form-field> </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">

              <div class="button-div">
                <button mat-stroked-button class="assign-task-button" (click)="assignTaskToQueue(element)">Assign to Queue</button>
              </div>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="taskDisplayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: taskDisplayColumns;"></tr>
        
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{taskInput.value}}"</td>
          </tr>
        </table>
       
      </div>
      </mat-expansion-panel>
<!-- USER SECTIONS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Users
          </mat-panel-title>
          <mat-panel-description>
            View system users
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="home-div">
          <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyUserFilter($event)" placeholder="Ex. ium" #userInput>
          </mat-form-field>
        
        <table mat-table [dataSource]="userDataSource" class="mat-elevation-z8">
        
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- tasks Column -->
          <ng-container matColumnDef="id_number">
            <th mat-header-cell *matHeaderCellDef> ID Number </th>
            <td mat-cell *matCellDef="let element"> {{element.id_number}} </td>
          </ng-container>
        
          <!-- user Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
        
          <!-- state Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>

          

          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef> Roles </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-form-field>
              <mat-label>Roles</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let role of element.roles" [value]="role">{{role}}</mat-option>
              </mat-select>
            </mat-form-field> </td>
          </ng-container>

          <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
          </ng-container>

          <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
          </ng-container>

          <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef> Password </th>
            <td mat-cell *matCellDef="let element"> {{element.password}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">

              <div class="button-div">
                <button mat-stroked-button class="assign-task-button" (click)="assignUserToQueue(element)">Assign to Queue</button>
              </div>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="userDisplayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: userDisplayColumns;"></tr>
        
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{userInput.value}}"</td>
          </tr>
        </table>
       
      </div>
      </mat-expansion-panel>
    </mat-accordion>
    

  </mat-tab>
  <mat-tab label="Shipping Management">Shipping Management</mat-tab>
</mat-tab-group>

  