<div class="product-edit-dialog dialog-style">
  <div class="dialog-header">

    <button mat-button mat-dialog-close>Close</button>
  </div>

  <div mat-dialog-content class="form-container">
    <form >
      <div class="product-input product-div">
        <span class="input-span">Created On:</span>
        <input class="product-input" type="text" name="created" [(ngModel)]="data.created" [disabled]="true">

        <br />
      </div>
      <div class="product-input product-div">
        <span class="input-span">Product ID:</span>
        <input class="product-input"  type="text" name="productId" [(ngModel)]="data.productID" [disabled]="true">
        <br />
      </div>
      <div class="product-input product-div">
        <span class="input-span">Vendor ID:</span>
        <input class="product-input"  type="text" name="vendorId" [(ngModel)]="data.vendorID" [disabled]="true">
        <br />
      </div>
      <div class="product-input product-div">
        <span class="input-span">Size:</span>
        <input class="product-input"  type="text" name="size" [(ngModel)]="data.size" [disabled]="true">
        <br />
      </div>
      <div class="product-input product-div">
        <span class="input-span">Unit Price:</span>
        <input class="product-input"  type="text" name="unitPrice" [(ngModel)]="data.unitPrice" [disabled]="true">
        <br />
      </div>
      <div class="product-input product-div">
        <span class="input-span">Product Name:</span>
        <input class="product-input"  type="text" name="productName" [(ngModel)]="data.productName" [disabled]="true">
        <br />
      </div>
      <div class="product-input product-div">
        <span class="input-span">Colour:</span>
        <input class="product-input"  type="text" name="colour" [(ngModel)]="data.colour" [disabled]="true">
        <br />
      </div>
      <div class="product-input product-div">
        <span class="input-span">Category:</span>
        <input class="product-input"  type="text" name="category" [(ngModel)]="data.category" [disabled]="true">
        <br />
      </div>
      <div class="product-input product-div">
        <span class="input-span">Brand:</span>
        <input class="product-input"  type="text" name="brand" [(ngModel)]="data.brand" [disabled]="true">
        <br />
      </div>
      <div class="product-input product-div">
        <span class="input-span">Description:</span>
        <input class="product-input"  type="text" name="description" [(ngModel)]="data.description" [disabled]="true">
        <br />
      </div>
      <div class="product-input product-div">
        <span class="input-span">Stock Level:</span>
        <input class="product-input"  type="text" name="stockLevel" [(ngModel)]="data.stockLevel" [disabled]="!edit">
      </div>
    </form>
  </div>
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  <div mat-dialog-actions class="dialog-bottom-buttons">

    <button mat-button (click)="toggleEdit()" *ngIf="!edit">Edit</button>
    <!-- <button mat-button *ngIf="!edit">Reorder</button> -->

    <button mat-button (click)="toggleEdit()" *ngIf="edit">Cancel</button>
    <button mat-button (click)="saveProduct()" *ngIf="edit">Save</button>
  </div>
</div>
