/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
.input-span{
  display: inline-block;
  width: 50% !important;
}
/* .mat-icon{
  height:16px !important;
  width:16px !important;
  font-size:16px !important;
}
.edit-button{
  height:16px !important;
  width:16px !important;
  font-size:16px !important;
} */
.dialog-header{
  display: flex;
  align-items: center;
  align-content: center;

  justify-content: end;
  text-align: end;
  margin-bottom: 20px;
}
.dialog-bottom-buttons{
  display: flex;
  justify-content: space-around;

}

.task-div{
  width: 100% !important;
  display: flexbox;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  
}

.table-div{
  
  display: flexbox;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}



.row-hover:hover{
  background-color: #D0CDD7 !important;
  cursor: pointer;

}

.dialog-table{
  width: 100% !important;
}